<footer id="footer" class="hide" layout="row" layout-align="space-between">
  <div id="channel">
    <div class="links">
      {% for item in menu.primary %}
      <div class="link">
        <a href="{{ item.url }}" rel="parallax-anchor">{{ item.title }}</a>
      </div>
      {% endfor %}
    </div>
    <div class="languages">
			{% for trans in translates %}
				{% if lang in trans.code %}
				<a href="{{trans.url}}" class="active">{{trans.name}}</a>
				{% else %}
				<a href="{{trans.url}}">{{trans.name}}</a>
				{% endif %}
			{% endfor %}
    </div>
  </div>
  <div id="copyright">
     {{site_meta.copyright}}
  </div>
</footer>