{% if g and page %}
  {% set posts = query('post', perpage=1).contents %}
  {% if posts %}
  {% set last_post = posts[0] %}
  <div class="container">
    <header>
      <h2>{{last_post.title or _('Title')}}</h2>
      <h4 class="lead">{{last_post.description}}</h4>
    </header>
    <div class="m-auto text-center">
      <div class="excerpt">
        <p>{{last_post.excerpt}}</p>
      </div>
    </div>
  </div>
  {% else %}
  <div class="container">
    <p class="text-center text-muted">{{_('There is no post yet.')}}</p>
  </div>
  {% endif %}
{% else %}
  {% include '_blog.html' %}
{% endif %}
