{% import 'g' as g with context %}
<!DOCTYPE html>
<html lang="{{lang}}">
{% include '_head.html' %}
<body>

{% include '_header.html' %}

<section id="{{meta.slug}}"
         class="d-flex align-items-center justify-content-center
                hero parallax {{meta.hero.class}}"
         data-image-src="{{meta.hero.src or g.hero}}"
         data-parallax="scroll">
  <div>
    <h1>{{meta.title or _('Title')}}</h1>
    <h3 class="lead">
      {{meta.description or _('Description text here')}}
    </h3>
    <a class="start-btn anim-fade-in-out"
       href="#">
      <svg width="48" heigth="48" viewBox="0 0 48 48"><path d="M14,24A10,10,0,1,1,24,34,10.0036,10.0036,0,0,1,14,24Zm10,6a6,6,0,1,0-6-6A6.0048,6.0048,0,0,0,24,30Z"/><path d="M19.41,40,24,44.58,28.59,40,30,41.41l-6,6-6-6Z"/></svg>
    </a>
  </div>
</section>

{% for page in segments() %}
  {% include page.template+'.html' ignore missing %}
{% endfor %}

{% include '_footer.html' %}

<!-- js -->
<script src="{{theme_url}}/assets/jquery.min.js"></script>
<script src="{{theme_url}}/assets/parallax.min.js"></script>
<script src="{{theme_url}}/assets/bootstrap.min.js"></script>
<script src="{{theme_url}}/assets/main.js"></script>

</body>
</html>
