{% import "g" as g with context %}
{% if meta.background %}
{% set coverbgstyle = 'style="background-image:url('+meta.background.src+')"'%}
{% set coverbgclass = meta.background.class %}
{% else %}
{% set coverbgstyle = ''%}
{% set coverbgclass = '' %}
{% endif %}
<!DOCTYPE html>
<html lang="{{lang}}" modern-browser>
{% include "_g_head_.html" %}
<body id="screen"
 svg-sprites-loader 
 data-url="{{ site_meta.svg_sprites or theme_url+'/styles/svgdefs.svg' }}"
 data-name="base">
  <div id="loader" layout="column" layout-align="center center">
    <div>
      <div class="circle">
        <svg svg-sprite="base:ico-loading"></svg>
      </div>
      <span>{{_('Loading...')}}</span>
    </div>
  </div>
  <!-- Header -->
  {% include "_g_header_.html" %}
  <!-- Controller -->
  {% include "_g_controller_.html" %}
  <!-- Pages -->
  <div id="pages">
    <!-- Cover -->
    <section class="cover {{coverbgclass}}" title="{{meta.title}}">
      <div layout="column" layout-align="center center" {{coverbgstyle}}>
        <article class="text-center">
          <header>
            <h1>
              {{meta.tagline}}
              <div swapper>
                {{meta.swapper}}
              </div>
            </h1>
          </header>
          <div class="actions">
            {% if meta.login %}
            <a href="{{meta.login.link | url}}" 
             target="{{meta.login.target}}">
              {{meta.login.title}}
            </a>
            {% endif %}
            {% if meta.register %}
            <span>&nbsp;&nbsp;/&nbsp;&nbsp;</span>
            <a href="{{meta.register.link | url}}"
             target="{{meta.register.target}}">
              {{meta.register.title}}
            </a>
            {% endif %}
          </div>
        </article>
      </div>
    </section>
    <!-- Page -->
    {% for page in pages | type('page') if page.template != meta.template %}
      {% if page.background %}
      {% set bgstyle = 'style="background-image:url('+
                       page.background.src+')"'%}
      {% set bgclass = page.background.class %}
      {% else %}
      {% set bgstyle = ''%}
      {% set bgclass = '' %}
      {% endif %}
      {% include page.template+'.html' %}
    {% endfor %}
  </div>
  <!-- Detail -->
  {% include "_g_model_detail_.html" %}
  <!-- Slider -->
  {% include "_g_model_slider_.html" %}
  <!-- Footer -->
  {% include "_g_footer_.html" %}
  
  <!-- Javascripts -->
  {% include "_g_js_.html" %}
</body>
</html>
