{% if g and page %}
<section class="portfolio {{bgclass}}"
 parallax-anchor="{{page.alias}}" title="{{page.title}}">
  <div layout="column" layout-align="center center" {{bgstyle}}>
    <header>
      <h2>{{page.title}}</h2>
    </header>
    <div class="portfolio-inner">
      {% for works in pages | type('_works', g.perpage) %}
      <figure class="btn open-slider">
        {% if works.featured_img %}
        <img src="{{works.featured_img.src | thumbnail}}"
         title="{{works.featured_img.title}}" />
        {% endif %}
        <div rel="slides" title="{{works.title}}">
          {% for item in works.gallery %}
          <img src="{{item.src}}" title="{{item.title}}" />
          {% endfor %}
        </div>
      </figure>
      {% endfor %}
    </div>
  </div>
</section>
{% else %}
  <script>window.location.replace('{{base_url}}/#/{{meta.alias}}');</script>
{% endif %}