{% if g and page %}
<section id="{{page.slug}}" class="segment">
  <div class="container">
    <header>
      <h2>{{page.title or _('Title')}}</h2>
      <h4 class="lead">{{page.description}}</h4>
    </header>
    <div class="content text-center">
      {{page.content}}
    </div>
    <div class="row">
      {% for item in page.series %}
      <div class="col-lg-3 col-md-6">
        <div class="px-4">
          <figure class="w-75 py-3">
            <img src="{{theme_url}}/assets/trans.png"
                 class="avatar"
                 style="{{item.src|bg_img}}"
                 alt="{{item.title}}" />
          </figure>
          <h5 class="text-nowrap title">
            {{item.title or '&nbsp;'}}
          </h5>
          <p class="text-nowrap subtitle text-uppercase">
            {{item.subtitle or '&nbsp;'}}
          </p>
          <div>{{ item.misc }}</div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% elif not meta.is_front %}
<script>window.location.replace('{{base_url}}/#{{meta.slug}}');</script>
{% endif %}
