html,
body {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
}

body {
  color: #333;
  min-height: 640px;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica,
                Arial, verdana, Tahoma, sans-serif;
}

*:focus {
  outline: 0;
}

svg {
  color: inherit;
  fill: currentColor;
}

a,
a:link,
a:visited {
  color: #78909b;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

a:hover,
a:focus {
  color: #50ae54;
  outline: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-family: inherit;
}

ul {
  padding-left: 1em;
}

ul li,
ol li {
  padding: 0.1em;
  font-size: 0.875rem;
}

.no-padding {
  padding: 0;
}
.no-border {
  border: 0;
}
.no-gutter {
  margin-right: 0;
  margin-left: 0;
}
.no-gutter > .col,
.no-gutter > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

.icon,
.avatar,
.thumbnail {
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.icon,
.avatar {
  border-radius: 50%;
}

.bg-primary {
  background-color: #bac5c8 !important;
}
.bg-secondary {
  background-color: #90ba90 !important;
}
.bg-fixed {
  background-attachment: fixed;
}


.divider {
  max-width: 50px;
  border-color: #78909b;
  border-width: 3px;
}


.icon-btn {
  display: inline-block;
  color: #78909b;
  background: none;
  outline: 0!important;
  border: 0!important;
  padding: 0 !important;
}

.icon-btn:hover,
.icon-btn:active {
  color: #50ae54;
  cursor: pointer;
}


/* typegraph */
.title {
  text-transform: uppercase;
  font-weight: 700;
  min-height: 1em;
}
.subtitle {
  font-weight: 400;
  font-size: 0.875rem;
  color: #50ae54;
  min-height: 1em;
}
.text-primary {
  color: #78909b !important;
}
.text-secondary {
  color: #50ae54 !important;
}

.text-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 3em;
}
.text-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 4.5em;
}
.text-nowrap {
  min-width: 0;
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
}

/* nav */
.navbar {
  transition: all 0.15s ease-in-out;
}
.navbar.affix {
  background-color: rgba(255, 255, 255, 0.95);
}
.navbar .logo {
  width: 80px;
  height: 40px;
  vertical-align: middle;
}
.navbar .lang-btn {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
.navbar a,
.navbar a:link,
.navbar a:visited {
  color: #78909b;
}
.navbar a:hover,
.navbar a:focus,
.navbar a:active {
  color: #50ae54;
}

.navbar .nav-item {
  color: #333;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.navbar-nav .nav-link,
.navbar-nav .nav-link:link,
.navbar-nav .nav-link:visited {
  color: #333;
  font-weight: 500;
  font-size: inherit;
}
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:active,
.navbar-nav .nav-link:focus {
  color: #50ae54;
}


/* footer */
.footer {
  font-size: 0.875rem;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.footer p {
  display: inline-block;
}


/* section */
section {
  padding: 3rem 0;
  position: relative;
}

section header {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}
section header h2 {
  font-weight: 700;
  margin: 0;
}
section header .lead {
  font-size: 1rem;
  font-weight: 400;
}

.segment.bg-primary {
  color: #fff;
  background-color: rgba(120, 144, 155, 0.7)!important;
}
.segment.bg-secondary {
  color: #fff;
  background-color: rgba(77, 107, 87, 0.7)!important;
}


/* hero */
.hero {
  position: relative;
  color: #333;
  border-top: 0;
  padding: 10% 1rem 15% 1rem;
  width: 100%;
  min-height: 100%;
  text-align: center;
  text-transform: uppercase;
}
.hero h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}
.hero .lead {
  font-size: 1rem;
  font-weight: 400;
}

.hero .start-btn,
.hero .start-btn:link,
.hero .start-btn:visited {
  display: block;
  width: 48px;
  height: 48px;
  margin: 1rem auto;
  color: #50ae54;
}

.hero .start-btn:hover {
  transform: scale(1.5);
}

/* active items */
.active-item {
  display: block;
  border-radius: 2px;
  transition: all 0.25s ease-in-out;
}
.active-item:hover {
  cursor: pointer;
  text-decoration: none;
  box-shadow: 6px 6px 12px 2px rgba(0,0,0,0.25);
}
.active-item {
  color: initial;
}

.active-item .icon,
.active-item .avatar,
.active-item .thumbnail {
  transition: all 0.25s ease-out;
}

.active-item .icon,
.active-item .avatar {
  background-color: #bac5c8;
}

.active-item:hover .icon {
  background-color: #90ba90;
}
/*.active-item:hover .avatar {
  transform: scale(1.05);
  filter: grayscale(100%);
  opacity: 0.6;
}*/
.active-item:hover .thumbnail {
  transform: translate(0, -10%);
  opacity: 0.6;
}

/* content */
.content {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 2rem 2rem 2rem;
  text-align: center;
}
.content mark {
  color: #fff;
  background-color: #333;
}

.content ul,
.content ol {
  padding-left: 40px;
}

.content img,
.content video,
.content audio,
.content embed {
  max-width: 100%;
}
.content h2,
.content h3,
.content h4 {
  text-transform: uppercase;
}


/* Animation
/* ----------------------------------------------- */
@keyframes fadeInOut {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

.anim-fade-in-out {
  animation: fadeInOut 2s infinite;
}

/* Modal
/* ----------------------------------------------- */
/* switcher */
.modal-switcher {
  position: relative;
  text-align: center;
  background: #fff;
  max-width: 240px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 2px;
}
.modal-switcher .headline {
  margin-bottom: 20px;
}
.modal-switcher .link-item {
  display: block;
  padding: 6px;
  margin: 6px;
  text-decoration: none;
}
.modal-switcher .link-item.active {
  color: #999;
  pointer-events: none;
}

/* paper */
.modal-paper {
  position: relative;
  background: #fff;
  width: 100%;
  height: 100%;
  padding: 2rem;
}
.modal-paper .headline {
  margin-bottom: 20px;
}

/* MFP Animation
/* ----------------------------------------------- */
.mfp-fullscreen .mfp-container {
  padding: 0;
}
.mfp-fullscreen .mfp-content {
  height: 100%;
}

/* zoom in */
.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}
.mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1);
}
.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-zoom-in.mfp-removing .mfp-with-anim {
  transform: scale(0.8);
  opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}


/* move horizontal */
.mfp-move-horizontal {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-move-horizontal .mfp-with-anim {
  opacity: 0;
  transition: all 0.3s;
  transform: translateX(-50px);
}
.mfp-move-horizontal.mfp-bg {
  opacity: 0;
  transition: all 0.3s;
}
.mfp-move-horizontal.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: translateX(0);
}
.mfp-move-horizontal.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-move-horizontal.mfp-removing .mfp-with-anim {
  transform: translateX(50px);
  opacity: 0;
}
.mfp-move-horizontal.mfp-removing.mfp-bg {
  opacity: 0;
}


/* Languages
/* ----------------------------------------------- */
html[lang^="zh"],
html[lang^="zh"] body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial,
               "PingFang SC", "Hiragino Sans GB",
               "Source Han Sans CN", "Source Han Sans SC",
               "Microsoft YaHei", "STXihei", "STHeiti", "SimHei",
               sans-serif;
}
