/*
 * Supmice custom for Clean Blog v1.0.0
 */

body {
  font-family: 'Lora', 'Times New Roman', Helvetica, Arial, "Hiragino Sans GB", STHeiti "Microsoft YaHei", serif;
}

h1,h2,h3,.subheading{
  word-break: break-all !important;
  white-space: normal !important;
}
.post-preview img{
  max-width:100%;
}

.content-box img{
  max-width:100%;
}