/* -----------------------------------------------
Simba Styles
Description: A Theme for soopro.com
http://www.soopro.com

Author:   redy
Date:     3 July 2015
Version: 2.5
----------------------------------------------- */

@import "_variables_.less";
@import "_mixins_.less";

/* Genearl
/* ----------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  position: relative;
	margin: 0;
	padding: 0;
	height: 100%;
  background: @view-bg-color;
  overflow: hidden;
}

#wrapper {
	position: relative;
}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

a,
a:link,
a:visited {
  color: @primary-color;
  text-decoration: underline;
}

button {
  background: none;
  border: none;
  outline: 0;
}

/* Typography
/* ----------------------------------------------- */
body,h1,h2,h3,h4,h5,h6,p {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 200;
}

h1, h2 {
  font-size: 60px;
  font-weight: 100;
  margin-bottom: 30px;
}

h1 {
  font-size: 60px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 22px;
}
@media (max-width:767px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 18px;
  }
}

p{
  font-size:14px;
  margin:15px 0;
}

.hl {
  color: #8b0;
}

.bullet:before {
  content: "•";
  color: #8b0;
  padding: 0 5px;
}

/* Blocks
/* ----------------------------------------------- */
@pages-transition: all @duration/2 ease-in-out;

/* Header */
#header {
  .flex-display();
  .flex-direction(row);
  position: absolute;
  z-index: 999;
  top: 0;
  width: 100%;
  min-height: 50px;
  padding: 30px;
  @media (max-width:767px) {
    padding-top: 5px;
  }
  & #logo svg,
  & #menu svg {
    .transition(@pages-transition);
  }
}

/* Footer */
#footer {
  .transition(@pages-transition);
  .flex-display();
  .flex-direction(row);
  position: absolute;
  z-index: 999;
  bottom: 0;
  width: 100%;
  min-height: 50px;
  padding: 30px;
  opacity: 0;
  &.show{
    opacity: 1;
  }
}

#pages {
  .transition(@pages-transition);
  &.zoom {
    .transform(scale(0.4));
    & > section {
      box-shadow: 0 8px 10px -5px rgba(0,0,0,.14),
                  0 16px 24px 2px rgba(0,0,0,.098),
                  0 6px 30px 5px rgba(0,0,0,.084);
    }
  }
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9;
  
  & > section {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    .transition(@pages-transition);
    background-color: lighten(@view-bg-color, 50%);
  }
}

/* Elements
/* ----------------------------------------------- */
@major-transition: all @duration*3 ease-in-out;

/* Logo */
#logo {
  .svgWrap(120px, 50px, @primary-color);
  .flex(1);
  font-size: 0;
  .light & svg{
    fill: @light-color;
  }
}

/* Menu */
#menu {
  .svgWrap(36px, 36px, #333);
  min-width: 50px;
  &:hover svg{
    fill: @primary-color;
  }
  .light & svg{
    fill: @light-color;
  }
}

/* Copyright */
#copyright {
  text-align: right;
  font-size: 12px;
}

#channel {
  .flex(1);
  font-size: 12px;
  & .links{
    display: inline-block;
    & .link {
      display: inline;
      &:not(:last-child):after{
        content: "/";
        color: @primary-color;
        padding: 0 5px 0 10px;
      }
      & a,
      & a:link,
      & a:visited {
        color: @dark-color;
        text-decoration: none;
      }
      & a:hover {
        text-decoration: underline;
        color: @primary-color;
      }
    }
  }
  .languages {
    display: inline-block;
    font-size: 12px;
    text-align: center;
    padding-left: 15px;
    & > a{
      &:extend(.bullet all);
      padding-right: 10px;
      text-decoration: none;
      &:hover {
        color: @gray-color;
      }
    }
    & .active {
      color: #999;
      pointer-events: none;
    }
  }
}

/* SECTION=Home
/* ----------------------------------------------- */
.home {
  background-image: url('cover.jpg');
  background-size: cover;
}
