<!DOCTYPE html>
<html lang="en">
{% include "_g_head_.html" %}
<body id="screen">
  <!-- Header -->
  {% include "_g_header_.html" %}
  <!-- Controller -->
  {% include "_g_controller_.html" %}
  <!-- Pages -->
  <div id="pages">
    <!-- Cover -->
    <section class="cover" title="Home" dark>
      <div layout="column" layout-align="center center">
        <article class="text-center">
          <header>
            <h1>
              This is a<br>Content Service Cloud,<br>you can create<br>
              <span class="swapper">Websites.</span>
            </h1>
          </header>
          <div class="actions">
            <a href="#" target="_blank">Login</a>
            <span>&nbsp;&nbsp;/&nbsp;&nbsp;</span>
            <a href="#" target="_blank">Free Register</a>
          </div>
        </article>
      </div>
    </section>
    <!-- Page -->
    <section class="page" title="Website">
      <div layout-gt-sm="row" layout-align="center center">
        <div flex="40" class="no-overflow">
          <img src="styles/feature_website.jpg" alt="Website" />
        </div>
        <article flex="40">
          <header>
            <h2>Manage websites<br>for desktop and mobile</h2>
          </header>
          <p>
            Aenean commodo ligula eget dolor. Aenean massa.
            Cum sociis natoque penatibus et magnis dis parturient montes, 
            nascetur ridiculus mus.
          </p>
        </article>
      </div>
    </section>
    <!-- Page -->
    <section class="page" title="Wechat">
      <div layout-gt-sm="row" layout-align="center center">
        <div flex="40" class="no-overflow" flex-order="2">
          <img src="styles/feature_wechat.jpg" alt="WebChat" />
        </div>
        <article flex="40" class="text-right">
          <header>
            <h2>Social promotion<br>with WeChat</h2>
          </header>
          <p>
            Aenean commodo ligula eget dolor. Aenean massa.
            Cum sociis natoque penatibus et magnis dis parturient montes, 
            nascetur ridiculus mus.
          </p>
        </article>
      </div>
    </section>
    <!-- Page -->
    <section class="page" title="Membership">
      <div layout-gt-sm="row" layout-align="center center">
        <div flex="40" class="no-overflow">
          <img src="styles/feature_membership.jpg" alt="Membership" />
        </div>
        <article flex="40">
          <header>
            <h2>Manage Membership</h2>
          </header>
          <h4>
            Activities <span>+</span> Broadcasting <span>+</span> Newsletters
          </h4>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            Aenean commodo ligula eget dolor. Aenean massa.
          </p>
        </article>
      </div>
    </section>
    <!-- Gallery -->
    <section class="gallery" title="Themes" dark>
      <div layout="column" layout-align="center center">
        <header>
          <h2>Themes</h2>
        </header>
        <div class="gallery-inner">
          <figure duplicate="18" class="btn open-slider">
            <img src="uploads/bird.jpg" title="Bird" />
            <div rel="slides" title="Bird">
              <img src="uploads/car2.jpg" title="Car" />
              <img src="uploads/bird.jpg" title="Car" />
              <img src="uploads/clothes.jpg" title="Car" />
              <img src="uploads/flower.jpg" title="Car" />
            </div>
          </figure>
        </div>
      </div>
    </section>
    <!-- Contact -->
    <section class="contact" title="Contact" dark>
      <div layout-gt-sm="row" layout-align="center center">
        <article flex="35">
          <header>
            <h2>Contact</h2>
          </header>
          <p>
            Aenean commodo ligula eget dolor. Aenean massa.
            Cum sociis natoque penatibus et magnis dis parturient montes, 
            nascetur ridiculus mus.
          </p>
          <div class="info">
            <p>
              <i class="ico">
                <svg svg-sprite="base:ico-email"></svg>
              </i>
              <a href="#" class="btn-primary">Support@Soopro.com</a>
            </p>
            <p>
              <i class="ico">
                <svg svg-sprite="base:ico-qq"></svg>
              </i>
              <a href="qq:2069879008" class="btn-primary">2069879008</a>
            </p>
          </div>
        </article>
        <aside flex="30" class="text-center no-overflow">
          <img src="styles/qr.png" title="qr" />
        </aside>
      </div>
    </section>
  </div>
  <!-- Detail -->
  <div id="detail" layout="column" layout-align="center center">
    
  </div>
  <!-- Slider -->
  <div id="slider" layout="row" layout-align="center center">
    <button type="button" class="btn-prev">
      <svg svg-sprite="base:ico-arr_left"></svg>
    </button>
    <div class="slider-inner" flex layout="column" layout-align="center center">
      <h3 class='title'></h3>
      <div class="slides"></div>
    </div>
    <button type="button" class="btn-next">
      <svg type="button" svg-sprite="base:ico-arr_right"></svg>
    </button>
  </div>
  <!-- Footer -->
  {% include "_g_footer_.html" %}
</body>
</html>
