<!DOCTYPE html>
<html lang="en">
{% include "_g_head_.html" %}
<body>
  <!-- Header -->
  {% include "_g_header_.html" %}
  <!-- Controller -->
  {% include "_g_controller_.html" %}
  <!-- Pages -->
  <div id="pages">
    <section class="home" title="Home">
      <div></div>
    </section>
    <section class="page" title="Website" dark="true">
      <div></div>
    </section>
    <section class="contact" title="Contact">
      <div></div>
    </section>
  </div>
  <!-- Footer -->
  {% include "_g_footer_.html" %}
</body>
</html>
