<!DOCTYPE html>
<html lang="en">
{% include "_g_head_.html" %}
<body>
  <!-- Header -->
  {% include "_g_header_.html" %}
  <!-- Controller -->
  {% include "_g_controller_.html" %}
  <!-- Pages -->
  <div id="pages">
    <!-- Cover -->
    <section class="cover" title="Home" dark>
      <div layout="column" layout-align="center center">
        <h1 class="text-center">
          This is a<br>Content Service Cloud,<br>you can create<br>
          <span class="swapper">Websites.</span>
        </h1>
        <div class="actions text-center">
          <a href="#" target="_blank">Login</a>
          <span>&nbsp;&nbsp;/&nbsp;&nbsp;</span>
          <a href="#" target="_blank">Free Register</a>
        </div>
      </div>
    </section>
    <!-- Page -->
    <section class="page" title="Website">
      <div layout="row" layout-align="end center"
      style="background-image:url('styles/feature_website.jpg');">
        <article flex="50">
          <header>
            <h2>Manage websites<br>for desktop and mobile</h2>
          </header>
          <p>
            Aenean commodo ligula eget dolor. Aenean massa.
            Cum sociis natoque penatibus et magnis dis parturient montes, 
            nascetur ridiculus mus.
          </p>
        </article>
      </div>
    </section>
    <!-- Page -->
    <section class="page" title="Wechat">
      <div layout="row" layout-align="start center" 
      style="background-image:url('styles/feature_wechat.jpg');">
        <article flex="50" class="text-right" layout="column" layout-align="center end">
          <header>
            <h2>
              Conduct Social Promotion<br>with WeChat Channel
            </h2>
          </header>
          <p>
            Aenean commodo ligula eget dolor. Aenean massa.
            Cum sociis natoque penatibus et magnis dis parturient montes, 
            nascetur ridiculus mus.
          </p>
        </article>
      </div>
    </section>
    <!-- Page -->
    <section class="page" title="Membership">
      <div layout="row" layout-align="end center"
      style="background-image:url('styles/feature_membership.jpg');">
        <article flex="50">
          <header>
            <h2>Manage Membership</h2>
          </header>
          <h4>
            Activities <span>+</span> Broadcasting <span>+</span> Newsletters
          </h4>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            Aenean commodo ligula eget dolor. Aenean massa.
          </p>
          <p>
            Cum sociis natoque penatibus et magnis dis parturient montes,
            nascetur ridiculus mus.
          </p>
        </article>
      </div>
    </section>
    <!-- Gallery -->
    <section class="gallery" title="Themes" dark>
      <div layout="column" layout-align="center center">
        <header>
          <h2>Themes</h2>
        </header>
        <div class="gallery-inner">
          <figure duplicate="18" class="open-slider">
            <img src="uploads/bird.jpg" title="Bird" />
            <div rel="slides">
              <img src="uploads/car2.jpg" title="Car" />
              <img src="uploads/bird.jpg" title="Car" />
              <img src="uploads/clothes.jpg" title="Car" />
              <img src="uploads/flower.jpg" title="Car" />
            </div>
          </figure>
        </div>
      </div>
    </section>
    <!-- Contact -->
    <section class="contact" title="Contact" dark>
      <div layout="row" layout-align="center center">
        <article flex="50">
          <header>
            <h2>Contact</h2>
          </header>
          <p>
            Aenean commodo ligula eget dolor. Aenean massa.
            Cum sociis natoque penatibus et magnis dis parturient montes, 
            nascetur ridiculus mus.
          </p>
          <div class="info">
            <p>
              <i class="ico">
                <svg svg-sprite="base:ico-email"></svg>
              </i>
              <a href="#" class="btn-primary">Support@Soopro.com</a>
            </p>
            <p>
              <i class="ico">
                <svg svg-sprite="base:ico-qq"></svg>
              </i>
              <a href="qq:2069879008" class="btn-primary">2069879008</a>
            </p>
          </div>
        </article>
        <aside flex="20">
          <img src="styles/qr.png" title="qr" />
        </aside>
      </div>
    </section>
  </div>
  <!-- Detail -->
  <div id="detail" class="hide" layout="column" layout-align="center center">
    
  </div>
  <!-- Slider -->
  <div id="slider" class="hide" layout="row" layout-align="center center">
    <button type="button" class="btn-prev">
      <svg svg-sprite="base:ico-arr_left"></svg>
    </button>
    <div class="slider-inner" flex layout="column" layout-align="center center">
      <h3>test</h3>
      <div class="slides"></div>
    </div>
    <button type="button" class="btn-next">
      <svg type="button" svg-sprite="base:ico-arr_right"></svg>
    </button>
  </div>
  <!-- Footer -->
  {% include "_g_footer_.html" %}
</body>
</html>
