{% import "g" as g with context %}
<!DOCTYPE html>
<html lang="{{lang}}">
{% include "_head.html" %}
<body>
  <div id="wrapper" class="main-bg">
    <!-- Header -->
    <header class="pirmary-header home">
      <div id="logo" {{g.site_logo}}>{{site_meta.title}}</div>
    </header>
    <!-- Content -->
    <article class="container text-center page">
      <h1>{{meta.title}}</h1>
      {{content}}
    </article>
    <section class="container">
      <div class="row">
        {% for browser in meta.browsers %}
        <div class="col-sm-2 col-xs-4 text-center">
          <a href="{{browser.link}}"target="_blank">
            <img src="{{browser.src}}" alt="{{browser.title}}">
          </a>
          <h4>{{browser.title}}</h4>
        </div>
        {% endfor %}
      </div>
    </section>
  </div>
  {% include "_footer.html" %}
</body>
</html>
