{% import "g" as g with context %}
<!DOCTYPE html>
<html lang="{{lang}}">
{% include "_head.html" %}
<body>
  <div id="wrapper" class="main-bg">
    <!-- Header -->
    <header class="pirmary-header home">
      <div id="logo" {{g.site_logo}}>{{site_meta.title}}</div>
    </header>
    <!-- Content -->
    <article class="container text-center page">
      <h1>{{meta.title}}</h1>
      {{content}}
    </article>
    {% include "_register.html" %}
  </div>
  {% include "_footer.html" %}
</body>
</html>
