{% import "g" as g with context %}
<!DOCTYPE html>
<html lang="{{lang}}">
{% include "_head.html" %}
<body>
  <div id="wrapper" class="main-bg">
    <!-- Header -->
    <header class="pirmary-header home">
      <div id="logo" {{g.site_logo}}>{{site_meta.title}}</div>
    </header>
    <!-- Content -->
    <article class="container text-center summary">
      <h1>{{meta.title}}</h1>
      {{content}}
      <aside>
        {% for item in menu["primary"] if item.url|path != base_url|path %}
        <a href="{{item.url}}" target="{{item.meta.target}}" 
        class="btn-nav btn-nav-lg {{item.meta.class}}">{{item.title}}</a>
        {% endfor %}
      </aside>
    </article>
    {% include "_register.html" %}
  </div>
  {% include "_footer.html" %}
</body>
</html>
