{% import "g" as g with context %}
<!DOCTYPE html>
<html lang="{{lang}}">
{% include "_head.html" %}
<body>
  <div id="wrapper">
    {% include "_header.html" %}
    <!-- Main -->
    <section class="container gallery">
      <div class="row">
        {% for item in pages|type('_theme') if item.gallery %}
        <div class="col-xs-12 col-sm-4 col-md-2 thumb-box gallery-container">
          {% for pic in item.gallery %}
            {% if loop.first %}
            <a href="{{pic.src}}" class="thumb gallery-image" title="{{pic.title}}">
              <img src="{{item.featured_img.src or theme_url+'imgs/default_600x600.png'}}" class="img-responsive" alt="{{item.title}}">
            </a>
            {% else %}
            <span href="{{pic.src}}" style="display:none" class="gallery-image" title="{{pic.title}}"></span>
            {% endif %}
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </section>
    {% include "_register.html" %}
  </div>
  {% include "_footer.html" %}
</body>
</html>
